
body {
  font-family: monospace;
  background-image: url(slike/stars.webp);
  background-size: cover; 
  margin: 0;
  padding: 20px;
  text-align: center;
  position: relative;
}

label {
    color: rgb(168, 17, 17);
    display: block;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-shadow: 0px 1px 5px rgb(133, 70, 70);
}

#pokemonInput {
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 8px 6px rgb(13, 141, 52);
    color: rgb(192, 14, 14);
}

#pokemonDetails {
    margin-top: 100px;
    text-shadow: 1px 2px 8px rgb(17, 57, 29);
    color: rgb(9, 109, 9);
}

h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

#pokemonImage {
       width: 100px;
    
    
}

#pokemonName {
    font-size: 25px;
    color: rgb(154, 120, 11);
    
}

#overlay-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5; 

}

#overlay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    background-color: rgb(58, 56, 56);
    border-radius: 25px;
    border: 10px solid black;
    z-index: 5;
    opacity: 1; 
    background-color: rgba(96, 91, 91, 0.5);
}


#nicknameInput {
  padding: 5px;
  border-radius: 25px;
  box-shadow: 0px 0px 8px 6px rgb(13, 141, 52);
  color: rgb(50, 13, 13);
  margin-top: 10px; 
}
    


button {
  border: none;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    box-shadow: 0px 0px 8px 6px rgb(13, 141, 52);
    color: rgb(23, 1, 1);
    background-color: rgb(47, 255, 64);
    margin-top: 10px; */
}


@media only screen and (max-width: 600px) {
  body {
    background-size: contain; 
  }
}

    #pokemonInput {
        font-size: 16px; 
        color: rgb(2, 23, 16);
    }

    #pokemonDetails {
      margin-top: 100px;
      text-shadow: 1px 2px 8px rgb(17, 57, 29);
      color: rgb(9, 109, 9);
      position: relative; 
      z-index: 10; 
  }
        
    

    h2 {
        font-size: 25px; 
    }

    #pokemonImage {
        width: 80px; 
        
    }


    #error {
      color: red;
    }
    
    #messageContainer {
      display: none;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #ccc;
    }
    
    #messageContainer.error {
      display: block; 
      background-color: #807676;
    }
   












